<table id="clientsTable" class="table table-striped table-bordered datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birth Date</th>
      <th>Phone Number</th>
      <th>Cellphone Number</th>
      <th>Client Since</th>
      <td>Show</td>
     <td>Edit</td>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.full_name %></td>
        <td><%= client.email %></td>
        <td><%= client.birth_date.to_date %></td>
        <td><%= client.phone_number %></td>
        <td><%= client.cellphone_number %></td>
        <td><%= client.client_since.to_date %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New Client", new_client_path %>