<h1><%= t('prospects_list') %></h1>

<%= link_to t("new_prospect"), new_prospect_path, :class => 'btn btn-primary'  %>

<div class="table-responsive">
	<table id="clientsTable" class="table table-striped table-bordered datatable" cellspacing="0" width="100%">
	  <thead>
	    <tr>
	      <th><%= t('name') %></th>
	      <th><%= t('email') %></th>
	      <th><%= t('birth_date') %></th>
	      <th><%= t('phone_number') %></th>
	      <th><%= t('cellphone_number') %></th>
	      <th><%= t('client_since') %></th>
	      <td><%= t('show') %></td>
	     <td><%= t('edit') %></td>
	    </tr>
	  </thead>
	  <tbody>
	    <% @prospects.each do |prospect| %>
	      <tr>
	        <td><%= prospect.full_name %></td>
	        <td><%= prospect.email %></td>
	        <td><%= prospect.birth_date.to_date %></td>
	        <td><%= prospect.phone_number %></td>
	        <td><%= prospect.cellphone_number %></td>
	        <td><%= prospect.client_since.to_date %></td>
	        <td><%= link_to t('show'), prospect %></td>
	        <td><%= link_to t('edit'), edit_prospect_path(prospect) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>