<%= simple_form_for @policy do |f| %>
	<div class="container-fluid">
		<div class="row">
	    <div class="col-md-4">
	    	<%= f.association :client, label: t('client'), collection: current_user.clients.order(:last_name), label_method: :full_name %>
	    </div>
	    <div class="col-md-4">
	    	<%= f.association :comission, label: t('comission') %>
	    </div>
	    <div class="col-md-4">
	    	<%= f.association :company, label: t('company') %>
	    </div>
	    <div class="col-md-3">
	    	<%= f.input :product_name, label: t('product_name') %>
	    </div>
	    <div class="col-md-3">
	    	<%= f.input :policy_type, label: t('policy_type') %>
	    </div>
	    <div class="col-md-3">
	    	<%= f.input :renewal_method, label: t('renewal_method') %>
	    </div>
	    <div class="col-md-3">
	    	<%= f.input :payment_method, label: t('payment_method') %>
	    </div>
	    <div class="col-md-3">
	    	<%= f.input :issued_date, label: t('issued_date'), as: :date_picker %>
	    </div>
	    <div class="col-md-3">
	    	<%= f.input :expiration_date, label: t('expiration_date'), as: :date_picker %>
	    </div>
		</div>
	<div class="bot-nav-btns">
  	<%= link_to 'Back', :back, class: "btn btn-default" %>
  	<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>

<% end %>